# Node
node_modules/

# Environment variables
.env
.env.*
!.env.example

# Playwright
test-results/
playwright-report/
blob-reports/
auth.json
test-e2e/auth.json
test.zip

# Allure
allure-report/
allure-results/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
logs/